/* CSS Document */



body{
	color:black;
	font-family:"Comic Sans MS";
	background-image: url("bilder/fleg.png");
	background-repeat: repeat-x;	
}

img{
	max-height: 500px;
	position: relative;
}

.main{
	display:grid;
	grid-column-gap: 15px;
	grid-row-gap:5px;
	text-align:center;
	grid-template-columns:1 1 1 1 1;
}

.header{
	display:grid;
	grid-column: 1/6;
	border-radius:25px;
}

li{
	display: inline-block;
	max-resolution: 20px;
}

ul{
	display: inline-block;
	padding: 5px 10px 5px 5px;
}

h1{
	Text-align:center;
	position:relative;
	animation-timing-function: linear;
	animation-name: example_1;
	animation-duration: 1.75s;
	animation-iteration-count: infinite;
}

p{
	color:red;
}

@keyframes mymove{
	from {right:0px;}
	to {right:75px;}
}

@keyframes example_1{
	0%{color:rgba(255,0,0,1.00);}
	50%{color:rgba(0,255,0,1.00);}
	100%{color:rgba(0,0,255,1.00);}
	
}

.dropbtn {
  background-color: rgb(255,0,0);
  color: rgb(5, 5, 5);
  padding: 16px;
  font-size: 16px;
  border-block-color: black;
  }

.dropdown {
  position: right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}